mixin passwordStrength
	.password-strength
		.flex-center-between.font-size-14.mb-2
			span Password strength:
			span.password-strength-verdict
		.password-strength-progress.mb-2
			.progress
				.progress-bar
		.password-strength-legend
			ul
				li#inRange It is between 8-30 characters
				li#oneChar Contains at least one letter
				li#oneNumber Contains at least one number
				li#oneSpecial Contains at least one special character (!^+%/()=?_:`@~|\}][{$.,*-)
				li#onlyLatin Contains only latin characters
