mixin preLoader(text='Loading...')
	.page-preloader(id!=attributes.id, class!=attributes.class, style!=attributes.style)
		.h-100
			.spinner-grow.text-primary(style='transform: scale(1.5);', role='status')
				span.sr-only #{text}
			h5.font-size-22.font-weight-medium.mb-0.ml-3(aria-hidden='true') #{text}

mixin preLoaderImage(bg='white')
	.page-preloader.page-preloader-image(id!=attributes.id, class!=attributes.class, style!=attributes.style, data-bg=`${bg}`)

mixin preLoaderAnimation
	.page-preloader.flex-center(id!=attributes.id, class!=attributes.class, style!=attributes.style)
		.page-preloader-animation
