mixin preLoader
	#preloader.page-preloader
		.flex-center.h-100
			.spinner-grow.text-primary(style='transform: scale(1.5);', role='status')
				span.sr-only Loading...
			h5.font-size-22.font-weight-medium.mb-0.ml-3(aria-hidden='true') Loading...
