extends layout

block title
	title Bad request - Flight Finder

block content
	main(role='main')
		.container.py-5.py-lg-10
			.row.justify-content-center.align-items-center
				.col-md-5.text-center.text-md-left.order-2.order-md-1
					h1.text-dark.font-weight-bold.text-lh-1 Bad request
					p.text-muted.text-xl-nowrap.mb-4 Looks like your request is not valid. Recheck your submission.
					a.btn.btn-primary.px-4(href='/') Back to Home
				.col-md-7.text-center.order-1.order-md-2.mb-4.mb-md-0
					img.img-fluid.w-xl-90(src='../images/svg/undraw_warning.svg', alt='Bad Request')
