extends layout

block title
	title Page not found - Flight Finder

block content
	main(role='main')
		.container.py-5.py-md-10
			.row.justify-content-center.align-items-center
				.col-md-5.text-center.text-md-left.order-2.order-md-1
					h1.text-dark.font-weight-bold.text-sm-nowrap.text-lh-1.mb-4 Looks like you&apos;re lost
					p.text-muted.text-justify.text-sm-center.text-md-justify.mb-4 We can&apos;t seem to find the page you&apos;re looking for.
					a.btn.btn-primary.px-4(href='/') Back to Home
				.col-md-7.text-center.order-1.order-lg-2.mb-4.mb-md-0
					img.img-fluid.w-xl-90(src='/static/images/svg/undraw_page_not_found.svg', alt='Page Not Found')
