extends layout

block title
	title Server maintenance - Flight Finder

block content
	main(role='main')
		.container.py-5.py-lg-10
			.row.justify-content-center.align-items-center
				.col-md-5.text-center.text-md-left.order-2.order-md-1
					h1.text-dark.font-weight-bold.text-lh-1 Website is under maintenance...
					p.text-muted.mb-4 Sorry for the inconvenience. Please come back later.
					a.btn.btn-primary.px-4(href='/') Back to Home
				.col-md-7.text-center.order-1.order-lg-2.mb-4.mb-md-0
					img.img-fluid.w-xl-90(src='/static/images/svg/undraw_bug_fixing.svg', alt='Maintenance')
