extends layout
include mixins/_alert
include mixins/_preloader

block title
	title Forgot password - Flight Finder

block preloader
	+preLoaderImage#preloader

block content
	main.bg-gray(role='main')
		.container.py-5.py-lg-12
			.row.align-items-center.justify-content-center
				.col-md-10.col-lg-7
					h3.section-title.section-title-left.section-title-gutter-sm.mb-5 Forgot your password?
					p.text-gray-1.mb-5 Enter your email address below and we'll get you back on track.
					+showAlert
					.card.shadow-soft
						.card-body.p-4
							form#forgotPasswordForm.needs-validation(method='POST', action='/user/forgot-password', novalidate='')
								.form-group.mb-4
									label.text-muted.required(for='email') Email address
									.prepend-icon
										i.fas.fa-envelope.fa-fw
										input#email.form-control(type='email', name='email', placeholder='johndoe@placeholder.com', required='')
										.invalid-feedback Email address is required.
								.row.align-items-center
									.col-sm-6.order-2.order-sm-1.text-center.text-sm-left
										a.btn.btn-link.font-size-14.p-0(href='/user/sign-in')
											i.fas.fa-chevron-left.fa-sm.mr-1
											| Back to sign in
									.col-sm-6.order-1.order-sm-2.text-sm-right.mb-3.mb-sm-0
										button.btn.btn-primary.w-100.w-sm-auto(type='submit') Send link
