doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/fonts/work-sans-family.css')
		link(rel='stylesheet', href='/vendors/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/css/flightfinder-logo.css')
		link(rel='stylesheet', href='/vendors/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/vendors/bootstrap/css/bootstrap-reboot.min.css')
		link(rel='stylesheet', href='/vendors/bootstrap-datepicker/css/bootstrap-datepicker3.min.css')
		link(rel='stylesheet', href='/css/style.css')
		title= title
	body
		block content
		footer
		script(src='/vendors/jquery/jquery.min.js')
		script(src='/vendors/popper.js/popper.min.js')
		script(src='/vendors/bootstrap/js/bootstrap.min.js')
		script(src='/vendors/bootstrap-datepicker/js/bootstrap-datepicker.min.js')
		script(src='/js/core.js')
