extends layout
include mixins/_alert
include mixins/_preloader

block title
	title Sign in - Flight Finder

block preloader
	+preLoaderImage#preloader

block content
	main.bg-gray(role='main')
		.container.py-5.py-lg-12
			.row.align-items-center.justify-content-center
				.col-md-10.col-lg-7.col-xl-6
					h3.section-title.section-title-left.section-title-gutter-sm.mb-5 Account sign in
					+showAlert
					.card.shadow-soft
						.card-body.p-4
							form#signInForm.needs-validation(method='POST', action='/user/sign-in', novalidate='')
								.form-group
									label.text-muted.required(for='email') Email address
									.prepend-icon
										i.fas.fa-envelope.fa-fw
										input#email.form-control(type='email', name='email', placeholder='johndoe@placeholder.com', required='')
										.invalid-feedback Email address is required.
								.form-group
									label.flex-center-between(for='password')
										span.text-muted.required Password
										a.font-size-14(href='/user/forgot-password') Forgot your password
									.prepend-icon
										i.fas.fa-lock.fa-fw
										input#password.form-control(type='password', name='password', placeholder='Password', required='')
										.invalid-feedback Password is required.
								.form-group.custom-control.custom-checkbox.mt-5
									input#rememberMyPassword.custom-control-input(type='checkbox', name='rememberMyPassword')
									label.custom-control-label.font-size-15(for='rememberMyPassword') Remember my password
								.form-group
									button.btn.btn-primary.btn-block(type='submit') Sign in
							p.font-size-14.text-center.mt-1.mb-0
								| Don&apos;t have an account?
								a(href='/user/sign-up') &nbsp;Sign up now
